body {
  font-family: 'Helvetica Neue', Helvetica, Tahoma, Arial, 'Hiragino Sans GB', STHeiti, "Microsoft YaHei", "微软雅黑", 'WenQuanYi Micro Hei', STXihei, "华文细黑", Heiti, "黑体", SimSun, "宋体", Song, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 100;
  color: #2f2f2f;
  word-wrap: break-word;
  word-break: break-word;
  letter-spacing: 0;
  word-spacing: .25em;
}

a {
  color: #0088cc;
  text-decoration: none;
}
a:hover,
a:active {
  outline: 0;
}
a:hover {
  color: #005580;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.0em 0 .6em 0;
  font-family: inherit;
  font-weight: 500;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 38.5px;
}

h2 {
  font-size: 31.5px;
}

h3 {
  font-size: 24.5px;
}

h4 {
  font-size: 17.5px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 11.9px;
}
body h1 {
  line-height: 1.6;
}
body h2 {
  line-height: 1.1;
}
body h3 {
  line-height: 1.1;
}
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

p {
    margin: 0 0 1.1em;
    line-height: 1.6;
}

pre{
    line-height: initial !important;
    word-wrap: break-word;
    word-break: break-word;
    tab-size: 4;
    white-space: pre-wrap;
    font-family: monospace;
}
kbd{
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
}

address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px;
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  word-break: initial;
  border: 1px solid rgba(34,36,38,.15);
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

cite {
  font-style: normal;
}

ul,ol {
  padding: 0;
  margin: 0 0 10px 35px;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

dl {
  margin-bottom: 20px;
}

dt,
dd {
  line-height: 20px;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 10px;
}
body dt, body dd {
  line-height: 1.35em;
}


abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}


blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #dddddd;
}

blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

blockquote small {
  display: block;
  line-height: 20px;
  color: #999999;
}

blockquote small:before {
  content: '\2014 \00A0';
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

blockquote footer{
    margin: 1em 0;
    font-style: italic;
}

blockquote footer cite {
    margin: 0 1em;
}

code {
    background-color: rgba(214, 219, 223, 0.28);
    border-radius: 4px;
    color: #2C3E50;
    padding: 2px 4px;
}
body code{
    border: 0;
    border-radius: 4px;
    font-size: 90%;
}

/**** xsj start ****/
/*svg start*/
text{
    font-size: 14px;
}
/*svg end*/

/* title start */
h1.story_title {
    margin: 0.7em 0;
}
/* title end */

/* tag start */
.story_tags {
    margin: 0 0 1.2em;
}
.tag.label{
display: inline-block;
vertical-align: baseline;
line-height: 1;
margin: 0.125em 0.125em;
background-color: #ebeeef;
border-color: #ebeeef;
background-image: none;
padding: 0.6em 0.8em;
color: #5e6060;
text-transform: none;
font-weight: bold;
border-radius: 0.2857rem;
box-sizing: border-box;
font-size: 12px;
}
/* tag end */
em.cjk_emphasis{
    font-style: normal;
    font-family: Georgia,"Times New Roman",Times,"楷体","AR PL UKai CN", "NSimSun","Songti SC","SimSun",serif!important;
}

/* table start*/
.table {
  width: 100%;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table .table {
  background-color: #ffffff;
}


.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.table-celled.table tr td,.table-celled.table tr th {
    border-left: 1px solid rgba(34,36,38,.1)
}

.table-celled.table tr td:first-child,.table-celled.table tr th:first-child {
    border-left: none
}
/* table end*/



/*mindmap start*/
.mindmap_container {
  text-align: center;
}

.xsj_mindmap_caption{
   border-bottom: 1px solid #d9d9d9;
  display: inline-block;
  color: #999;
  padding: 10px;
}
/*mindmap end*/

/*code start*/

.hljs, .hljs * {
  overflow: visible !important;
} 

body .xiaoshujiang_code {
    border: 0;
    border-radius: 4px;
    font-size: 90%;
}
.xiaoshujiang_code ol{
    margin-bottom: 0px;
}

.xiaoshujiang_pre {
    line-height: initial !important;
    word-wrap: break-word;
    word-break: break-word;
    tab-size: 4;
    white-space: pre-wrap;
    font-family: monospace;
}
.xiaoshujiang_code_container pre{
    margin: 0px;
}
.xiaoshujiang_code_container.xiaoshujiang_code_chunk{
    box-shadow: 0 0 0 1px #A3C293 inset,0 0 0 0 transparent;
    margin: 1em 0;
    padding: 1em;
}
.xiaoshujiang_code_container.xiaoshujiang_code_chunk_hide_code{
    box-shadow: initial;
    padding: initial;
    padding-bottom: 2em;
}
.xiaoshujiang_code_container .out_put{
    box-shadow: 0 0 0 1px #A3C293 inset,0 0 0 0 transparent;
    margin: 1em 0;
    background-color: #FCFFF5;
    color: #2C662D;
    padding: 1em;
}
.xiaoshujiang_code_container .out_put_error{
    background-color: #FFF6F6;
    color: #9F3A38;
    margin: 1em 0;
    box-shadow: 0 0 0 1px #E0B4B4 inset,0 0 0 0 transparent;
    padding: 1em;
}

/*code end*/

/* code line nums start*/

code.hljs.code_linenums, .xiaoshujiang_code.hljs.code_linenums{
    position: relative;
}
.ol_linenums{
    padding: 0px;
    margin-left: 2em;
    border-left: 1px solid #e0e0e0;
}
.li_linenum{
    position:relative;
    margin-left: 0.5em;
    list-style: none;
    counter-increment: lines 1;
}
.li_linenum.li_list_style{
    list-style: inherit;
    margin-left: 5px;
}
.li_linenum:before, .li_linenum_before_span{
    content: counter(lines, decimal);
  position: absolute;
  left: -3em;
  text-align: center;
  width: 2.5em;
  vertical-align: top;
}
.li_linenum_before_span_hide{
    display: none;
}
.xiaoshujiang_code .code_line_break_hack{
    margin:0;
    border:0;
    border-top:0;
    border-bottom:0;
}
.component_attachment, .code_line_break_hack{
  display: none;
  visibility: collapse!important;
  height: 0!important;
}

/* code line nums end*/

/* block code start */
.xiaoshujiang_code_container {
    margin: 1em 0px;
    position: relative;
    padding-bottom: 2em;
}


.xiaoshujiang_code_title_container{
    font-size: 70%;
    opacity: 0.5;
}
.xiaoshujiang_code_title_container>.xiaoshujiang_code_infos{
    float: right;
}
/* block code end */


/**
 * Treeview syntax highlighting based on highlight.js
 * Copyright (c) 2014-2015, Asciidocfx Team, (MIT Licensed)
 * https://github.com/asciidocfx/highlight-treeview.js
 */
.language-treeview.hljs{
  position: relative;
}
.hljs-folder,
.hljs-hiddenfile,
.hljs-file {
    position: relative;
    vertical-align: top;
    display: inline-block;
    height: 16px;
}
.hljs-folder:before,
.hljs-file:before,
.hljs-hiddenfile:before {
    top: 0;
    content: '';
    width: 14px;
    height: 12px;
    margin-top: 0px;
    margin-right: 3px;
    position: relative;
    display: inline-block;
    background-size: 14px;
    background-repeat: no-repeat;
}
.hljs-file:before,
.hljs-hiddenfile:before {
    height: 14px;
    margin-left: 1px;
}
.hljs-hiddenfile {
    opacity: 0.6;
}
.hljs-file.photo:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f1c5";
}
.hljs-file.plain:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f016";
}
.hljs-file.source:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f1c9";
}
.hljs-file.archive:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f1c6";
}
.hljs-file.audio:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f1c7";
}
.hljs-file.video:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f1c8";
}
.hljs-file.pdf:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f1c1";
}
.hljs-file.xls:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f1c3";
}
.hljs-file.doc:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f1c2";
}
.hljs-file.ppt:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f1c4";
}
.hljs-folder:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f114";
}
.hljs-hiddenfile:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f016";
}
.hljs-tvline {
    margin-left: 6px;
    position: absolute;
    text-indent: -99em;
    padding-bottom: 8px;
    vertical-align: top;
    display: inline-block;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(94, 144, 117);
}
.hljs-folder-branch {
    width: 8px;
    height: 8px;
    margin-top: -1px;
    margin-left: 6px;
    text-indent: -99em;
    position: relative;
    vertical-align: top;
    display: inline-block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(94, 144, 117);
}
.hljs-folder-branch.win {
    width: 14px;
    margin-right: 2px;
}
.hljs-folder-last-branch {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    text-indent: -99em;
    position: relative;
    vertical-align: top;
    display: inline-block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(94, 144, 117);
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(94, 144, 117);
}
.hljs-folder-last-branch.win {
    width: 13px;
    margin-right: 2px;
}


/**
 * Treeview syntax highlighting based on highlight.js
 */

/*mark start*/

.mark{
  border: 0;
  background-color: rgba(221, 243, 231, 0.4);
  border-radius: 4px;
  color: #29754d;
  font-size: 90%;
  padding: 2px 4px;
}

code .mark, .xiaoshujiang_code .mark{
    border-radius: 0px;
    font-size: initial;
    padding: initial;
}
/*mark end*/

/* attachment start */
a.attachment{
    background-color: #ecf0f3;
    border: 1px solid #bec6cb;
    display: inline-block;
    padding: 5px;
    margin: 2px;
    min-width: 250px;
}
a.attachment i.fa{
    font-size: 3em;
  float: left;
  margin-right: 0.2em;
}
a.attachment .filename{
    vertical-align: top;
  text-align: left;
  font-weight: bold;
}
a.attachment .filesize{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  opacity: .6;
  font-size: 80%;
  white-space: nowrap;
}
/* attachment end */





/* image start*/

.story_image_container{
    text-align: center;
}
.story_image_container>.story_image{
    display: inline-block;
    position: relative;
    max-width: 100%;
}
.story_image_caption{
    border-bottom: 1px solid #d9d9d9;
    display: inline-block;
    color: #999;
    padding: 10px;
}
.story_image_blank_caption{
    border-bottom: 0px;
}
.story_image>img{
    border-radius: 0.3125em;
    box-shadow: 0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.08);
}
.story_inline_image>img{
    vertical-align: bottom;
}
/* image end*/

.story_remote_resource_block{
    text-align: center;
}

/* task list start */
.task-list-item{
    list-style: none;
}
.task-list-item.li_list_style{
    list-style:inherit;
}
.task-list-item>input{
    margin: 0 0 0 -20px;
}

/* task list end */

/*code chunk video, slideshare start*/
.video_container{
    width: 100%;
    display: table;
    text-align: center;
    position: relative;
    padding-bottom: 56.25%!important;
}

.video_container iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    vertical-align: middle;
}

.slideshare_container .inner{
    position: relative;
    width: 100%;
}

.slideshare_container .inner iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*code chunk video, slideshare start*/


/*wavedrom start*/

.wavedrom_svg text, .wavedrom_svg_defs text {
    font-size:11pt;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    font-stretch:normal;
    text-align:center;
    fill-opacity:1;
    font-family:Helvetica
}
.wavedrom_svg .muted, .wavedrom_svg_defs .muted {
    fill:#aaa
}
.wavedrom_svg .warning, .wavedrom_svg_defs .warning {
    fill:#f6b900
}
.wavedrom_svg .error, .wavedrom_svg_defs .error {
    fill:#f60000
}
.wavedrom_svg .info, .wavedrom_svg_defs .info {
    fill:#0041c4
}
.wavedrom_svg .success, .wavedrom_svg_defs .success {
    fill:#00ab00
}
.wavedrom_svg .h1, .wavedrom_svg_defs .h1 {
    font-size:33pt;
    font-weight:bold
}
.wavedrom_svg .h2, .wavedrom_svg_defs .h2 {
    font-size:27pt;
    font-weight:bold
}
.wavedrom_svg .h3, .wavedrom_svg_defs .h3 {
    font-size:20pt;
    font-weight:bold
}
.wavedrom_svg .h4, .wavedrom_svg_defs .h4 {
    font-size:14pt;
    font-weight:bold
}
.wavedrom_svg .h5, .wavedrom_svg_defs .h5 {
    font-size:11pt;
    font-weight:bold
}
.wavedrom_svg .h6, .wavedrom_svg_defs .h6 {
    font-size:8pt;
    font-weight:bold
}
.wavedrom_svg_defs .s1 {
    fill:none;
    stroke:#000;
    stroke-width:1;
    stroke-linecap:round;
    stroke-linejoin:miter;
    stroke-miterlimit:4;
    stroke-opacity:1;
    stroke-dasharray:none
}
.wavedrom_svg_defs .s2 {
    fill:none;
    stroke:#000;
    stroke-width:0.5;
    stroke-linecap:round;
    stroke-linejoin:miter;
    stroke-miterlimit:4;
    stroke-opacity:1;
    stroke-dasharray:none
}
.wavedrom_svg_defs .s3 {
    color:#000;
    fill:none;
    stroke:#000;
    stroke-width:1;
    stroke-linecap:round;
    stroke-linejoin:miter;
    stroke-miterlimit:4;
    stroke-opacity:1;
    stroke-dasharray:1,3;
    stroke-dashoffset:0;
    marker:none;
    visibility:visible;
    display:inline;
    overflow:visible;
    enable-background:accumulate
}
.wavedrom_svg_defs .s4 {
    color:#000;
    fill:none;
    stroke:#000;
    stroke-width:1;
    stroke-linecap:round;
    stroke-linejoin:miter;
    stroke-miterlimit:4;
    stroke-opacity:1;
    stroke-dasharray:none;
    stroke-dashoffset:0;
    marker:none;
    visibility:visible;
    display:inline;
    overflow:visible
}
.wavedrom_svg_defs .s5 {
    fill:#fff;
    stroke:none
}
.wavedrom_svg_defs .s6 {
    color:#000;
    fill:#ffffb4;
    fill-opacity:1;
    fill-rule:nonzero;
    stroke:none;
    stroke-width:1px;
    marker:none;
    visibility:visible;
    display:inline;
    overflow:visible;
    enable-background:accumulate
}
.wavedrom_svg_defs .s7 {
    color:#000;
    fill:#ffe0b9;
    fill-opacity:1;
    fill-rule:nonzero;
    stroke:none;
    stroke-width:1px;
    marker:none;
    visibility:visible;
    display:inline;
    overflow:visible;
    enable-background:accumulate
}
.wavedrom_svg_defs .s8 {
    color:#000;
    fill:#b9e0ff;
    fill-opacity:1;
    fill-rule:nonzero;
    stroke:none;
    stroke-width:1px;
    marker:none;
    visibility:visible;
    display:inline;
    overflow:visible;
    enable-background:accumulate
}
.wavedrom_svg_defs .s9 {
    fill:#000;
    fill-opacity:1;
    stroke:none
}
.wavedrom_svg_defs .s10 {
    color:#000;
    fill:#fff;
    fill-opacity:1;
    fill-rule:nonzero;
    stroke:none;
    stroke-width:1px;
    marker:none;
    visibility:visible;
    display:inline;
    overflow:visible;
    enable-background:accumulate
}
.wavedrom_svg_defs .s11 {
    fill:#0041c4;
    fill-opacity:1;
    stroke:none
}
.wavedrom_svg_defs .s12 {
    fill:none;
    stroke:#0041c4;
    stroke-width:1;
    stroke-linecap:round;
    stroke-linejoin:miter;
    stroke-miterlimit:4;
    stroke-opacity:1;
    stroke-dasharray:none
}

/*wavedrom stop*/

/*mermaid start*/

.mermaid {
  text-align: center;
}

.mermaid_svg{
font-family: monospace;
}
/*mermaid stop*/


/* patch evernote start*/
.toc ul {
    list-style-type: none;
}
/* patch evernote end*/
/* xsj patch start */
.blank_anchor_id {
    float: right;
    width: 1px
}
.blank_anchor_id {
    visibility: hidden;
}
.blank_anchor_id:before {
    content: 'a';
}
/* xsj patch end */

/* other start */

.flow-chart, .sequence-diagram{
    text-align: center;
}
.plot, .plot-image{
    text-align: center;
    min-height: 200px;
    min-width: 200px;
}

.story_align_left, .story_align_left .story_image_container {
    text-align: left;
}
.story_align_right, .story_align_right .story_image_container {
    text-align: right;
}
.story_align_center, .story_align_center .story_image_container {
    text-align: center;
}
.story_align_justify, .story_align_justify .story_image_container {
    text-align: justify;
}
.mathjax-container{
    text-align: center;
}
div.mathjax{
    max-width: 600px;
    margin: 0 auto;
    font-size: 14px;
}

.xsj_foreignObject{
  width: 100%!important;
  height: 100%!important;
}
.xsj_foreignObject hr{
    margin: inherit;
}

/* other end */

/**** xsj end ****/

@media print{
  body{
    word-wrap: break-word;
    word-break: break-word;
    background: initial;
    font-kerning: normal;
    text-rendering: geometricPrecision;
  }
  .xiaoshujiang_element.xsj_anchor{
    position: absolute;
  }
  tr { page-break-inside: avoid; }
  .story_image_container{
     page-break-inside: avoid;
  }

  .xsj_underline{
      page-break-after: always;
      visibility: hidden;
  }
}
